* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Playwrite NO";

  padding: 20px;
  background-color: #222222;
}

#container {
  max-width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

#books {
  min-width: 250px;
  min-height: 350px;
  max-width: 900px;
  padding: 20px;
  border: solid white 5px;
  border-radius: 10px;

  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.book {
  min-width: 200px;
  max-width: 200px;
  aspect-ratio: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: 10px;
  border: solid white 5px;
  border-top: none;
  border-left: solid darkred 15px;
  
  text-align: center;
  background-color: rgb(255, 0, 0);
  box-shadow: -5px 5px 5px black;
}

.book .title {
  font-size: 1.5rem;
}

.book .author {
  font-size: 1.25rem;
}

.book .completed,
.book .delete-button {
  display: block;
  width: 100%;
  font-family: "Playwrite NO";
  background: none;
  border: none;
}