* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Playwrite NO";

  padding: 20px;
  background-color: #222222;
}

#books {
  max-width: 100%;

  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.book {
  width: 200px;
  aspect-ratio: 148 / 210;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: 10px;
  border: solid white 3px;
  border-top: none;
  border-left: solid darkred 15px;
  
  text-align: center;
  background-color: rgb(255, 0, 0);
}